glacier-1/go-cqhttp/config.yml
glacier-1/go-cqhttp/device.json
glacier-1/go-cqhttp/go-cqhttp.exe
glacier-1/go-cqhttp/session.token
glacier-1/go-cqhttp/data/leveldb/000002.ldb
glacier-1/go-cqhttp/data/leveldb/CURRENT
glacier-1/go-cqhttp/data/leveldb/CURRENT.bak
glacier-1/go-cqhttp/data/leveldb/LOCK
glacier-1/go-cqhttp/data/leveldb/LOG
glacier-1/go-cqhttp/data/leveldb/MANIFEST-000004
glacier-2/go-cqhttp/config.yml
glacier-2/go-cqhttp/device.json
glacier-2/go-cqhttp/go-cqhttp_windows_amd64.exe
glacier-2/go-cqhttp/session.token
glacier-2/go-cqhttp/data/leveldb/000001.log
glacier-2/go-cqhttp/data/leveldb/CURRENT
glacier-2/go-cqhttp/data/leveldb/LOCK
glacier-2/go-cqhttp/data/leveldb/LOG
glacier-2/go-cqhttp/data/leveldb/MANIFEST-000000
glacier-2/go-cqhttp/logs/2021-07-16.log
glacier-1/paradox/go-cqhttp.exe
